@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    background-color: rgba(0,0,0,.3);
}
.anima{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;

    background-color: white;
    z-index: 3;
}

section .profile-circle{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid white;
    border-radius: 50%;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);

}
section span{
    position: relative;
    width: 50%;
    height: 3px;
    background-color: white;
    color: white;
    top: 0;
}
section div .profile{
    position: relative;
    width: 80%;
    top: 20%;
    left: 20px;
}

.title{
    position: absolute;
    font-size: 30px;
    text-align: center;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
}

.text{
    position: absolute;
    top: 580px;
    text-align: right;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 200;
    right: 8%;
}

.content{
    position: absolute;
    top: 700px;
    left: 30%;
    right: 8%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.content h4{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    
    font-size: 23px;
    margin: 100px auto;
    font-weight: 700;
}







@media screen and (max-width: 680px){
    .content{
        left: 8%;
    }
}