@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    background-color: rgba(0,0,0,.3);
    overflow-x: hidden;
}


h6{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
    position: relative;
    margin-left: 30%;
    margin-top: 300px;
    margin-bottom: 40px;
}


.contents{
    margin-left: 30%;
    display: flex;
    flex-direction: column;
}

.line{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
}



.arrow{
    display:none;
}
.container{
    display: flex;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 2px;
}

.container:hover{

}

.contents p{
    position: relative;
    font-size: 16px;
    font-weight: 800;
    top: 15px;
    margin-left: 5%;
    opacity: .5;
    
}
.container a{
    text-decoration: none;
    overflow-x: hidden;
}
.container a h4{
    position: relative;
    margin: 30px 0;
    color: black;
    left: 75px;
    
    font-size: 50px;
    font-weight: 200;
    transition: all 0.5s ease;
}

.container a h4:hover{
    color: white;
}

.container .info-year{
    position: absolute;
    right: 30px;
    font-size: 16px;
    opacity: .5;
}




/* components */
.anima{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;

    background-color: white;
    z-index: 3;
}



.portfolio-img{
    display: none;
}
.head-text{
    position: absolute;
    font-size: 100px;
    text-align: right;
    color: gray;
    opacity: .6;
    top: 150px;
    right: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    width: 80%;

}



