
.cursor{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 1000;

}

.link-grow{
    transform: scale(1.3) translate(-25%, -25%);
    background: lightcoral;
    opacity: .5;
    z-index: 1;

}

.hovered-link{
    color: Black;
}

.logo{
    display: flex;
    position: absolute;
    top: 45px;
    left: 8%;

}
.logo a img{
    width: 40px;
}

.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-70px);
    left: 8%;
}
#nav-img{
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: all;
}
#nav-img:hover{
    
    pointer-events: all;
    transition: .3s ease;
}
/* Menu-Bar */
.menu-nav{
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 1;
}
.menu-nav a{
    text-decoration: none;

}
.menu-nav h5{
    font-family: 'Julius Sans One', sans-serif;
    color: rgba(255,255,255,.8);
    font-weight: 200;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.2s;
}
.menu-nav h5:hover{
    color: rgba(0,0,0,1);
    font-size: 23px;
    transition: 0.3s;
    cursor:none;
}


.lang{
    position: absolute;
    top:50px;
    right: 8%;
    width: 45px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
}
.lang p{
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
}
.lang:hover{
    cursor: pointer;
    border: 1px solid black;
    transition: 0.5s all ease;
}
.lang:active{
    background-color: transparent;
    cursor:none;
}
.lang p:active{
    color: white;  
    pointer-events: all;
}

@media screen and (max-width: 1200px){

    .container a h4{
        font-size: 35px;
    }
    .container h5{
        font-size: 25px;
    }
    .head-text{
        font-size: 60px;
    }
}
@media screen and (max-width: 680px){

    .logo a img{
        width: 30px;
        transition: .6s ease;
    }
    .nav{ 
        top: 118px;
        margin-left: 80%;

    }
    .nav a{
               
    }
    .year ,
    .lang,
    .menu-nav
    {
        transition: .3s ease;
        opacity:0;
        cursor:none;
        z-index: -1;
    }
    
    .container a h4{
        font-size: 25px;
    }
    .container p,
    .container .info-year{
        font-size: 12px;
    }

    h6{
    
    }

    .head-text{
        top: 100px;
        width: 60%;
        font-size: 60px;
    }

    .container a h4{
        position: relative;
        margin: 30px 0;
        color: black;
        left: 75px;
        
        font-size: 25px;
        font-weight: 200;
        transition: all 0.5s ease;

        border:1px solid white;
        width: 230px;
    }

    .line{
        position: relative;
        width: 90%;
        height: 2px;
        background-color: white;
    }


}