@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    overflow: hidden;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    opacity:1;
}

.cursor{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 10000;

}

.link-grow{
    transform: scale(1.3) translate(-25%, -25%);
    background: lightcoral;
    opacity: .5;
    z-index: 10000;

}

.hovered-link{
    color: Black;
}

.anima{
    position: fixed;
    height: 100%;
    width: 100%;

    top: 0;
    background-color: white;
    z-index: 3;
}


.front-page{
    display: flex;
}
.gradient{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: .4;
    
}
.banner{   
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.slider{
    width: 100%;
    height: 100%;
}
.banner .work_1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.slider{
    animation-name: slider;
    animation-duration: 1.5s;
}

.work_2,
.work_3,
.work_4,
.work_5{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo{
    display: flex;
    position: fixed;
    top: 45px;
    left: 8%;
}
.logo a img{
    width: 40px;
}

.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-70px);
    left: 8%;
    
}
#nav-img{
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: all;
}
#nav-img:hover{
    
    pointer-events: all;
    transition: .3s ease;
}


.mobile-menu a{
    display: none;
}
.mobile-menu a img{
    display: none;
}

.menu-nav{
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 1;
}
.menu-nav a{
    text-decoration: none;

}
.menu-nav h5{
    font-family: 'Julius Sans One', sans-serif;
    color: rgba(255,255,255,.5);
    font-weight: 200;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.2s;
}
.menu-nav h5:hover{
    color: rgba(255,255,255,1);
    font-size: 23px;
    transition: 0.3s;
    cursor:none;
}

.hero-text{
    
    letter-spacing: 5px;
    
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    
}
.hero-text p{
    margin: 0 auto;
    font-size: 70px;
    transition: 0.5s;
}


.lang{
    position: absolute;
    top:50px;
    right: 8%;
    width: 45px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
}
.lang p{
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
}
.lang:hover{
    cursor: pointer;
    border: 1px solid white;
    transition: 0.2s all ease;
}
.lang:active{
    background-color: white;
    cursor:none;
}
.lang p:active{
    color: black;  
    pointer-events: all;
}

.year{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    

}
.year p{
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
}

.works-list{
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(-50%, -50%);
}

.works-list .list{
    list-style: none;
}

.works-list .list li{
    font-size: 20px;
    opacity: .3;
    font-weight: 800;
    transition: 0.3s all ease;
}
.works-list .list li:hover{
    font-size: 20px;
    color: white;
    transition: 0.3s all ease;
    cursor: none;
    transform: rotate(45deg);
}

.works-list .list .active{
    opacity: 1;
    transform: rotate(90deg);
}

.description{
    position: absolute;
    background: rgba(0,0,0,.4);
    width: 50%;
    height: 80px;
    bottom: 0px;
    right: 0%;
    transition: 0.6s ease;
}

.desc-box .allign-line{
    position: absolute;
    background: rgba(255,255,255,.4);
    width: 20%;
    height: 100px;
    bottom:0;
    right:0;
}

.description p{
    display: flex;
    font-family: sans-serif;
    justify-content: flex-end;
    align-items: center;
    color: white;
    opacity: .8;
    font-size: 13px;
    position: relative;
    margin: 5px 18% 5px 0;
}

@keyframes slider{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 1200px){
    .hero-text p{
        font-size: 40px;
        transition: 0.5s;
    }
}
@media screen and (max-width: 680px){
    .container{
        position: relative;
    }
    .hero-text p{
        margin: 0 50px;
        border: 1px solid white;
        font-size: 20px;
    }
    .logo a img{
        width: 30px;
        transition: .6s ease;
    }
    .container .nav{ 
        top: 118px;
        margin-left: 80%;

    }
    .nav a{
               
    }
    .year ,
    .lang,
    .menu-nav,
    .works-list{
        transition: .6s ease;
        opacity:0;
        cursor:none;
        z-index: -1;
    }
    
    .description{
        transition: .5s ease;
        width:100%;
    }
    .description p{
        left:8%;
        transition: .8s ease;
    }
}